html,
body,
#root,
.container {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
}

.About {
  flex: 1;
  background-color: #add8e6; /* Light Blue */
}

.MapView {
  flex: 2;
  background-color: #90ee90; /* Light Green */
}
